<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>{{ title }}</title>
</head>
<body>
  <table>
    <tr class="addHomeworks">
      <td>
      <a href="/homeworks/new" onclick="addHomeworkGET()">Add <b>+</b></a>
      </td>
    </tr>
    {{#rows}}
    <tr>
      <td>{{ number }}</td>
      <td><a href="/homeworks/{{ id }}">{{ title }}</a></td>
      <td><button onclick="deleteHomework('{{ id }}')" class="delete">X</button></td>
    </tr>
    {{/rows}}
  </table>
  <script type="text/javascript">
    function deleteHomework(id) {
      let oReq = new XMLHttpRequest();
      oReq.open("DELETE",`/homeworks/${id}`, true);
      oReq.send();
      oReq.onload = function() {
        document.location.reload(true);
      }
    }

    function addHomeworkGET() {
      let oReq = new XMLHttpRequest();
      oReq.open("GET", "/homeworks/new", true);
      oReq.send();
    }
  </script>
</body>
</html>